<ng-container *ngIf="data1; else loading">

    <app-correlation-header [categories]="categories" [selectedCategory]="selectedCategory"
        [date]="dateFrom + ' - ' + dateTo" [description]="descriptionCorrelation"
        (categoryClicked)="onCategoryClicked($event, selectedOptionDropdown)">

        <div class="header-text">

            <div>
                <span class="primary-color">Korrelation -1:</span> Die 2 Variablen haben einen vollständigen
                negativen Zusammenhang
            </div>

            <div>
                <span class="primary-color">Korrelation 0:</span> Die 2 Variablen haben keinen Zusammenhang
            </div>

            <div>
                <span class="primary-color">Korrelation 1:</span> Die 2 Variablen haben einen vollständigen
                positiven Zusammenhang
            </div>

        </div>

    </app-correlation-header>

    <div *ngIf="multipleOptions" class="dropdown-container">

        <mat-form-field>

            <mat-select [(value)]="selectedOptionDropdown" (selectionChange)="onDropdownChange($event.value)">

                <mat-option *ngFor="let option of dropdownOptions" [value]="option">
                    {{ option }}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </div>

    <div class="chart-section" [class.comparison-active]="comparisonActive">

        <div class="center">
            <app-scatter-chart [values1]="chartPoints1" [values2]="chartPoints2" [textX]="textX" [textY]="textY">
            </app-scatter-chart>
        </div>

        <div class="correlation-info">

            <app-correlation-info [title]="pearsonCorrelationTitle1" [explanation]="pearsonCorrelationExplanation1"
                [correlationValue]="pearsonCorrelation1" [pointColor]="color1"
                [pointText]="'(' + (chartTitle1 || '') + ')'"
                [placeholder]="chartPoints1Empty ? 'Nicht genügend Daten um etwas anzuzeigen' : null">
            </app-correlation-info>

            <app-correlation-info *ngIf="chartPoints2" [title]="pearsonCorrelationTitle2"
                [explanation]="pearsonCorrelationExplanation2" [correlationValue]="pearsonCorrelation2"
                [pointColor]="color2" [pointText]="'(' + (chartTitle2 || '') + ')'"
                [placeholder]="chartPoints2Empty ? 'Nicht genügend Daten um etwas anzuzeigen' : null">
            </app-correlation-info>

        </div>

    </div>

</ng-container>


<ng-template #loading>

    <app-loading-screen></app-loading-screen>

</ng-template>