<ng-container *ngIf="yAxis1 && uniqueOptions; else loading">

    <app-statistic-header [category]="category" [date]="dateFrom + ' - ' + dateTo" [arrowLeftActive]="true"
        [arrowRightActive]="false" [description]="description">

        <div *ngIf="chartTitle1">
            <app-point [pointColor]="color1"></app-point>
            <span>{{chartTitle1}}</span>
            <div *ngIf="yAxis1IsEmpty">(Es gibt noch nicht genügend Daten um Statistiken anzuzeigen)</div>
        </div>

        <div *ngIf="chartTitle2">
            <app-point [pointColor]="color2"></app-point>
            <span>{{chartTitle2}}</span>
            <div *ngIf="yAxis2IsEmpty">(Es gibt noch nicht genügend Daten um Statistiken anzuzeigen)</div>
        </div>

    </app-statistic-header>

    <div *ngIf="uniqueOptions.length > 1" class="dropdown-container">

        <mat-form-field>

            <mat-select [value]="uniqueOptions[0]" (selectionChange)="onSelectionChange($event.value)">

                <mat-option *ngFor="let option of uniqueOptions" [value]="option">
                    {{ option }}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </div>

    <app-bar-chart [values]="yAxis1" [values2]="yAxis2" [options]="xAxis" [textY]="textY"></app-bar-chart>

</ng-container>

<ng-template #loading>

    <app-loading-screen></app-loading-screen>

</ng-template>