<ng-container *ngIf="timebucket$ | async as timebucket; else loading">

    <ng-container *ngIf="dataUser$ | async as dataUser; else loading">

        <app-generic-scatter [data1]="dataUser" [data2]="dataCompare$ | async" [categories]="categories"
            [description]="description" [dateFrom]="timebucket.from | dateFormat"
            [dateTo]="timebucket.until | dateFormat" [chartTitle1]="chartTitle1" [chartTitle2]="chartTitle2"
            [multipleOptions]="multipleOptions" [textX]="textX" [comparisonActive]="comparisonActive">
        </app-generic-scatter>

    </ng-container>

</ng-container>

<ng-template #loading>

    <app-loading-screen></app-loading-screen>

</ng-template>