.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
}

.statistics {
    display: flex;
    justify-content: center;
}

app-category-card {
    width: 85px;
    height: 80px;
}

app-category-card-multi {
    width: 130px;
    height: 125px;
}