<div class="grid">

    <div class="statistics" *ngFor="let card of statisticCards">

        <app-category-card class="clickable" [category]="card.category"
             [routerLink]="['../detail/statistics', card.url, '1']">
        </app-category-card>

    </div>

    <div class="statistics" *ngFor="let card of statisticCardsCorrelation">

        <app-category-card-multi class="clickable"
            [categories]="card.categories" [routerLink]="['../detail/statistics', card.url, '1']">
        </app-category-card-multi>

    </div>

</div>
