:host {
    display: flex;
    justify-content: center;
}

.text {
    text-align: right;
    margin-right: 20px;
    line-height: 22px;
}

.heading {
    color: #0089EF;
    font-size: 22px;
}

.date {
    color: #5c5c5c;
}

