<app-statistic-header [category]="category" [date]="dateFrom + ' - ' + dateTo" [arrowLeftActive]="true"
    [arrowRightActive]="false"></app-statistic-header>

<div *ngIf="filterActive" class="dropdown-container">

    <mat-form-field>

        <mat-select [value]="filterByOption$ | async" (selectionChange)="onSelectionChange($event.value)">

            <mat-option *ngFor="let option of uniqueOptions$ | async" [value]="option">
                {{ option }}
            </mat-option>

        </mat-select>

    </mat-form-field>

</div>


<app-bar-chart [values]="yAxis1$ | async" [values2]="yAxis2$ | async" [options]="xAxis"></app-bar-chart>