@import 'src/styles/theme';

.correlation-title {
    font-size: 22px;
    color: $primary-blue;
    padding-bottom: 20px;
}

.primary-color {
    color: $primary-blue;
}

.slider-color {
    color: #ff4081;
}


.dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.chart-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

mat-slider {
    width: 300px;
    margin-top: 25px;
    pointer-events: none;
}

.slider-legend {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
}
  