<ng-container *ngIf="data$ | async as timeBuckets; else loading">

    <app-correlation-header [categories]="categories" [selectedCategory]="selectedCategory"
        [date]="dateFrom + ' - ' + dateTo"
        (categoryClicked)="setChartpoints(timeBuckets, $event, selectedOptionDropdown)">
    </app-correlation-header>

    <div *ngIf="multipleOptions" class="dropdown-container">

        <mat-form-field>

            <mat-select [value]="selectedOptionDropdown"
                (selectionChange)="onDropdownChange(timeBuckets, $event.value)">

                <mat-option *ngFor="let option of activeUniqueOptions" [value]="option">
                    {{ option }}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </div>

    <app-scatter-chart [values1]="chartPointsUser" [values2]="chartPointsCompare" [textX]="textX" [textY]="textY">
    </app-scatter-chart>
    

</ng-container>


<ng-template #loading>

    <app-loading-screen></app-loading-screen>

</ng-template>