<ng-container *ngIf="chartValues1">

    <app-statistic-header [category]="category" [date]="dateFrom + ' - ' + dateTo" [arrowLeftActive]="false"
        [arrowRightActive]="true" [description]="description"></app-statistic-header>

    <app-pie-chart class="chart" [class.no-data]="chartValues1IsEmpty" [title]="chartTitle1" [class.big]="increaseWidthPieChart" [labels]="chartLabels1"
        [values1]="chartValues1" [colors]="chartColors1">
    </app-pie-chart>

    <div *ngIf="chartValues1IsEmpty">
        <div class="data-empty">Es gibt noch nicht genügend Daten um Statistiken anzuzeigen</div>
    </div>

    <ng-container *ngIf="chartValues2">

        <app-pie-chart class="chart" [class.no-data]="chartValues2IsEmpty" [title]="chartTitle2" [class.big]="increaseWidthPieChart" [labels]="chartLabels2"
            [values1]="chartValues2" [colors]="chartColors2">
        </app-pie-chart>

        <div *ngIf="chartValues2IsEmpty">
            <div class="data-empty">Es gibt noch nicht genügend Daten um Statistiken anzuzeigen</div>
        </div>

    </ng-container>

</ng-container>