<ng-container *ngIf="valuesUser && (valuesCompare || !comparisonActive); else loading">

    <app-statistic-header [category]="category" [date]="dateFrom + ' - ' + dateTo" [arrowLeftActive]="false"
        [arrowRightActive]="true" [description]="description"></app-statistic-header>

    <app-pie-chart class="chart" [class.big]="increaseWidthPieChart" [labels]="labels" [values1]="valuesUser" [values2]="valuesCompare" [colors]="colors">
    </app-pie-chart>

</ng-container>

<ng-template #loading>

    <app-loading-screen></app-loading-screen>

</ng-template>