<div class="center">

    <div class="chart-text">

        <div class="title-container">
            <app-point [pointColor]="pointColor"></app-point>
            <span class="point-text" [style.color]="pointColor">{{ pointText || '' }}</span>
            <div class="title">{{ title || ''}}</div>
        </div>

        <ng-container *ngIf="!placeholder; else placeholderTpl">

        <div class="center">

            <mat-slider class="cdk-focused" thumbLabel tickInterval="0.1" min="-1" max="1"
            [value]="correlationValue"></mat-slider>

        </div>

        <div class="center">

            <div class="slider-legend">

                <div class="slider-color">-1</div>
                <div class="slider-color center">0</div>
                <div class="slider-color right">1</div>

            </div>
            
        </div>


        <div>{{ explanation }}</div>

        <div class="hint">Achtung: desto weniger Daten es gibt desto weniger aussagekräftig ist das Ergebnis
        </div>

    </ng-container>

    <ng-template #placeholderTpl>
        <div class="title-container">
            {{ placeholder }}
        </div>
    </ng-template>

    </div>

</div>