@import 'src/styles/theme';

.center {
    display: flex;
    justify-content: center;
}

mat-slider {
    width: 300px;
    margin-top: 25px;
    pointer-events: none;
}

.slider-legend {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }
}

.title {
    font-size: 22px;
    color: $primary-blue;
    padding-bottom: 20px;
    margin-left: 7px;
}

.chart-text {
    padding: 10px;
}

.hint {
    margin-top: 5px;
    font-size: 13px;
    color: $grey;
}

.slider-color {
    color: #ff4081;
}

app-point {
    position: relative;
    top: 2px;
}

.point-text {
    position: relative;
    bottom: 2px;
    left: 2px;
}

.title-container {
    text-align: center;
}